# Ignore everything by default.
*

# Top-level dotfiles and manifests.
!.gitignore
!README.md
!.bashrc
!.zshrc
!scoop.json

# Selected config files and directories.
!.config/

!.config/bash/
!.config/bash/*
.config/bash/99-local.bash
.config/bash/local.bash

!.config/firefox/
!.config/firefox/*

!.config/nvim/
!.config/nvim/**

!.config/starship.toml

!.config/wezterm/
!.config/wezterm/*

!.config/winfetch/
!.config/winfetch/*

# Local secrets.
.env
*.secret
